/* Enter your custom styles here */
.sapMWizardStepTitle{
     display: none!important;
}
.borderTopBottomCssClass {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.customOSClass {
   font-weight: bold;
}
.sapOPSectionCss > .sapUxAPObjectPageSectionHeader {
    display: none;
}
.sapUxAPBlockContainer {
	padding: 0 !important;
}
.sapMSCCss {
	border: 2px solid #ccc;
}
.sapMSplitContainerMaster {
    width: 15rem !important;
}